<div class='container'>
  <div class="row">
    <h1>Place Select Program</h1>
    <hr>
  </div>
  <div class='row'>
    <%= button_to 'ONLINE POP ORDERING', orders_path, method: 'get', class: 'btn btn-success col-md-12' %>
  </div>
</div>
